@media(max-width:1300px){
    .navbar{
        margin-left: 9rem;
    }
    
    .header img{
        width: 37px;
        margin-left:0;
        margin-right: 10rem;
        
    }
    a{  
        font-size: 1.3rem;
        
        margin : 1rem;
       
        letter-spacing: 0.2rem;
        cursor: text;
    }
    .homecontent .btn{
        margin-left:5rem;
        margin-top: 3rem;
    }
    
   
    .details .rbox h1{
        margin-top: 1.5rem;
        font-size: 2.1rem;
        letter-spacing: 0.3rem;
    }
    
}



@media(max-width:1160px){
    .navbar{
        margin-left: 4rem;
    }
    
    .header img{
        width: 37px;
        margin-left:0;
        margin-right: 5rem;
        
    }
    a{  
        margin : 1rem;
    }
    .homecontent h3{
        margin: 4rem 3rem 2rem 6rem;
        font-size: 2.6rem;
        letter-spacing: 0.3rem;
       
    }
    .homepage img{
        width: 50vw;
        height: 100vh;
    }
    .details .lbox img{

        width: 200px;
        height: 200px;
    }
    .details .mbox img{
        width: 200px;
        height: 338px;
    }
}

@media(max-width:1085px){
    .details{
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
    }
    .details .rbox{
        height: 11.5rem;
        width: 26rem;
        margin: 3rem 0 0  3rem;
        padding: 2rem;
        font-family: sans-serif;
    }
}

@media(max-width:1000px){
    .navbar{
        margin-left: 2rem;
    }
    
    .header img{
        width: 37px;
        margin-left:0;
        margin-right: 5rem;
        
    }
    a{  
        margin : 1rem;
    }
    .homecontent h3{
        margin: 4rem 3rem 2rem 6rem;
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
    }
    .homecontent p{
        margin:3rem 5rem 0 6rem;
        font-size: 1.1rem;
        line-height: 1.4;
        letter-spacing: 0.02rem;
    }
    .homecontent .btn{
        margin-left:5rem;
        margin-top: 3rem;
    }
    .homecontent a{
        padding: 0.9rem 4rem;
        font-size: 1rem;
    }
    
}
@media(max-width:974px){
    .navbar{
        margin-left: 1.2rem;
    }
    a{  
        margin : 0.9rem;
        font-size: 1.3rem;
        
    }
    .header img{
        width: 33px;
        margin-left:0;
        margin-right: 2.5rem;
        
    }
    .homecontent h3{
        margin: 3rem 3rem 1rem 6rem;
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }
    .homecontent p{
        margin:2rem 5rem 0 6rem;
        font-size: 1.1rem;
        line-height: 1.4;
        letter-spacing: 0.02rem;
    }

}
@media(max-width:900px){
    .navbar{
        display: none;
    }
    .header{
        justify-content: end;
    }
    .header img{
        
        width: 33px;
        
        margin-right: 1rem;
        
    }
    .home{
        flex-direction: column;
    }
    .homecontent{
        width: 100%;
    }
    .homecontent h3{
        margin: 1.5rem 3rem 1rem 6rem;
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }
    .homecontent p{
        margin:2rem 5rem 0 6rem;
        font-size: 1rem;
        line-height: 1.4;
        letter-spacing: 0.02rem;
    }
    .homepage{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0.5rem; 
    }
    .homepage img{
        width: 70vw;
        height: 40vw;
        
    }
    .homecontent .btn{
        margin-left: 5rem;
        margin-top: 2rem;
    }
    .homecontent a{
        letter-spacing: normal;
        
        padding: 0.9rem 4rem;
        color: white;
        font-weight: 200;
        font-size: 1rem;
        /* margin-left:6rem; */
        
    }
}
@media(max-width:580px){
    /* .details .box{
        flex-direction: column;
    } */
    .details{
        padding-left: 1rem;
    }
    .details .lbox img{

        width: 30vw;
        height: 30vw;
    }
    .details .mbox img{
        width: 30vw;
        height: 57vw;
    }
    
}
@media(max-width:500px){
    .details .rbox{
        height: 11.5rem;
        width: 19rem;
        margin: 5rem 0 0  3rem;
        padding: 2rem;
    }
    .details .box{
        flex-direction: column;
    }
    .details .lbox{
        padding: 0;
        margin: 0;
        gap: 0.6rem;
    }
    .details .lbox img{
        padding: 0;
        margin: 0;
        width: 70vw;
        height: 50vw;
    }
    .details .mbox{
        padding: 0;
        margin: 0;
        margin-top: 13rem;
    }
    .details .mbox img{
        width: 70vw;
        height: 100vw;
    }
    .details{
        height: 150vh;
    }
}
@media(max-width:450px){
    .homecontent h3{
        margin: 2rem 3rem 1rem 3rem;
        font-size: 1.7rem;
        letter-spacing: 0.3rem;
    }
    
    .homecontent p{
        margin:2rem 2rem 0 3rem;
        font-size: 1rem;
        line-height: 1.4;
        letter-spacing: 0.02rem;
    }
    .homecontent .btn{
        margin-left: 2.1rem;
        margin-top: 3rem;
    }
    .homecontent a{
        letter-spacing: normal;
        padding: 0.9rem 4rem;
        font-size: 1rem;
        /* margin-left:6rem; */
        
    }
    .homepage img{
        width: 80vw;
        height: 50vw;
        
    }
    .details .mbox{
        
        margin-top: 7rem;
        margin-left: 1.6rem;
    }
    .details .rbox{
        height: 10rem;
        width: 17rem;
        margin: 5rem 1rem 0  1rem;
        padding: 2rem;
    }
    .details .rbox h1{
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
}

