.header{
    background-color:#f86969;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    margin-left: 15rem;
    margin-right: 0;
}
a{  
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    margin : 1.7rem;
    text-decoration: none;
    letter-spacing: 0.2rem;
    cursor: text;
}
.header img{
    width: 37px;
    margin-left:0;
    margin-right: 14rem;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    padding: 0;  
}
/* linear-gradient(135deg,#000428,#004e92); */

.home{
    /* background:linear-gradient(90deg,#fff3af , #f1acc4); */
    background: rgb(255,243,175);
background: linear-gradient(94deg, rgba(255,243,175,0.9276960784313726) 19%, rgba(235,152,226,0.9389005602240896) 74%);
    width: 100%;
    height: 100vh;
    display: flex;
}
.homecontent{
    width: 50%;
    height: 100vh;
}
.homecontent h3{
    margin: 9rem 3rem 2rem 6rem;
    font-size: 3rem;
    letter-spacing: 0.3rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homecontent p{
    margin:4rem 5rem 0 6rem;
    font-size: 1.2rem;
    font-family:sans-serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.02rem;
}
.homepage{
    width: 50%;
    height: 100vh;
}
.homepage img{
    width: 50vw;
    height: 100vh;
}
.homecontent .btn{
    margin-left: 4rem;
    margin-top: 5rem;
}
.homecontent a{
    letter-spacing: normal;
    background-color: #f86969;
    padding: 0.9rem 5rem;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.details{
     background: rgb(255,243,175);
background: linear-gradient(135deg, rgba(255,243,175,0.9276960784313726) 12%, rgba(235,152,226,0.8240546218487395) 74%);
    height: 100vh;
    display: flex;
    padding-left: 4rem;
}
.details .lbox{
   
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.details .lbox img{

    width: 250px;
    height: 200px;
}
.details .mbox img{
    width: 250px;
    height: 410px;
}
.details .rbox{
    background-color: #f86969;
    height: 11.5rem;
    width: 26rem;
    margin: 5rem 0 0  3rem;
    padding: 2rem;
    font-family: sans-serif;
}
.details .rbox p{
    
    font-weight: 50;
    color: rgb(32, 30, 30);
    letter-spacing: 0.02rem;
}
.details .rbox h1{
    font-weight: 400;
    margin-top: 1.5rem;
    font-size: 3rem;
    letter-spacing: 0.4rem;
}
.rbox .click{
    display: flex;
}
.rbox .click p{
    font-weight: 400;
    margin-top: 1.5rem;
    padding: 0;
    font-size: 1rem;
}
.rbox .click img{
    margin-top: 1.5rem;
    margin-left: 0.7rem;
    width: 1.4rem;
}
.details .box{
    display: flex;
}
